@charset "UTF-8";
.blog-one__form-title, .blog-one__comments-name, .blog-one__comments-title, .blog-one__tags-title, .blog__blockquote-author, .blog__item-title, .recent-posts__title, .blog__category-title, .contact__slider__title, .contact__title, .inspiration__item, .inspiration__title, .about__title, .about__prev-title, .blog-box__item-titlelink, .blog-box__title, .works-path__item-title, .works-path__title, .decor__title, .collection__info-title, .new-collection__title, .top__slider-title, .rightside-menu__title, .footer__info-title, .menu__list-link {
  font-family: montserrat, sans-serif;
  font-weight: 700;
}

/*------------------Обнул-------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 27px;
  font-size: 16px;
  color: #5A5A5A;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  overflow-x: hidden;
  min-width: 320px;
}

button, input, textarea, select {
  background: none;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}
.header__btn {
  background-color: transparent;
  cursor: pointer;
}

.menu {
  padding-left: 35px;
  padding-right: 60px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list-item + .menu__list-item {
  padding-left: 80px;
}
.menu__list-link {
  color: rgba(54, 56, 56, 0.9);
  line-height: 22px;
}

.logo {
  margin: 0 auto;
}

.footer__content {
  background-color: #DFDFDF;
  padding: 60px 0 80px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__info {
  width: 540px;
}
.footer__info-title {
  color: #363838;
  margin-bottom: 14px;
  line-height: 23px;
}
.footer__info-text {
  margin-bottom: 16px;
  max-width: 475px;
}
.footer__info-email {
  font-weight: 600;
  font-size: 14px;
  color: #363838;
  margin-bottom: 22px;
  padding-left: 30px;
  display: inline-block;
  position: relative;
}
.footer__info-email::before {
  content: "";
  background-image: url(../img/icons/envelope.svg);
  left: 0;
  width: 16px;
  position: absolute;
  height: 12px;
  top: 8px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__form-input {
  width: 100%;
  padding: 6px 10px 6px 18px;
  border-radius: 21px;
  border: 1px solid rgba(54, 56, 56, 0.7);
}
.footer__form-input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #A1A1A1;
}
.footer__form-input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #A1A1A1;
}
.footer__form-input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #A1A1A1;
}
.footer__form-input::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #A1A1A1;
}
.footer__form-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #A1A1A1;
}
.footer__form-button {
  background-color: #363838;
  color: #fffff0;
  border-radius: 21px;
  font-weight: 600;
  padding: 6px 12px;
  min-width: 160px;
  margin-left: 9px;
  cursor: pointer;
}
.footer__social {
  width: 125px;
  margin-right: auto;
  margin-left: 100px;
}
.footer__social-link {
  padding-left: 28px;
  position: relative;
}
.footer__social-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
}
.footer__social-link--facebook::before {
  background-image: url(../img/icons/facebook.svg);
}
.footer__social-link--instagram::before {
  background-image: url(../img/icons/instagram.svg);
  width: 14px;
  height: 14px;
  top: 4px;
}
.footer__social-link--pinterest::before {
  background-image: url(../img/icons/Pinterest.svg);
}
.footer__social-link--whatsapp::before {
  background-image: url(../img/icons/whatsapp.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
.footer__social-link--youtube::before {
  background-image: url(../img/icons/youtube.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 12px;
  top: 4px;
}
.footer__social-item, .footer__menu-item {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
}
.footer__social-link, .footer__menu-link {
  color: #707070;
}
.footer__menu {
  margin-right: 60px;
  width: 125px;
}
.footer__copyright {
  background-color: #363838;
  color: #A1A1A1;
  text-align: center;
  padding: 42px 0 41px;
}

.rightside-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 694px;
  width: 100%;
  z-index: 5;
  overflow: auto;
  background-color: #fff;
  -webkit-box-shadow: -2px 3px 17px 0px #000;
          box-shadow: -2px 3px 17px 0px #000;
  padding-top: 40px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.rightside-menu.rightside-menu--close {
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
}
.rightside-menu__close {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 60px;
  margin-left: 50px;
}
.rightside-menu__content {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;
}
.rightside-menu__title {
  color: #363838;
  font-size: 36px;
  line-height: 51px;
  position: relative;
  margin-bottom: 17px;
  padding-bottom: 17px;
}
.rightside-menu__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 252px;
  margin: 0 auto;
  height: 1px;
  background-color: #6D7278;
}
.rightside-menu__img {
  max-width: 485px;
}
.rightside-menu__logo {
  margin-bottom: 40px;
  display: inline-block;
}

.top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1350px;
}
.top__inner {
  padding-bottom: 70px;
  position: relative;
}
.top__inner::after {
  content: "";
  position: absolute;
  background-image: url(../img/main_slider_background.jpg);
  width: 100%;
  height: 722px;
  top: 0;
  z-index: -1;
}
.top__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top__slider-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.top__slider-info {
  max-width: 645px;
  margin-left: 25px;
}
.top__slider-title {
  color: #363838;
  font-size: 110px;
  line-height: 1.22; /* 135/110 */
  padding-bottom: 26px;
  margin-bottom: 26px;
  position: relative;
}
.top__slider-title::after {
  content: "";
  position: absolute;
  width: 185px;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #6D7278;
}
.top__slider-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68; /* 27/16 */
  max-width: 585px;
}

.swiper {
  overflow: hidden;
}

/*.swiper-pagination {
    display: block;
    &-bullets {

    }
}*/
.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.new-collection {
  text-align: center;
  padding: 45px 0 35px;
}
.new-collection__title {
  color: #363838;
  font-size: 35px;
  line-height: 51px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.new-collection__title::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #6D7278;
}
.new-collection__text {
  margin: 0 auto 30px;
  max-width: 730px;
}

.collection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  padding-bottom: 70px;
}
.collection__item {
  position: relative;
}
.collection__item:hover .collection__info {
  opacity: 1;
}
.collection__image {
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.collection__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.collection__info-title {
  font-size: 20px;
  line-height: 25px;
  color: #363838;
  padding-bottom: 19px;
  margin-bottom: 19px;
  position: relative;
}
.collection__info-title::after {
  content: "";
  bottom: 0;
  position: absolute;
  height: 1px;
  background: #6D7278;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.collection__info-text {
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

.decor {
  padding: 170px 0 155px;
  background-image: url(../img/decor-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.decor__title {
  max-width: 730px;
  color: #363838;
  font-size: 60px;
  line-height: 80px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}
.decor__title::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 200px;
  background: #6D7278;
}
.decor__text {
  max-width: 540px;
}

.works-path {
  padding: 80px 0 30px;
}
.works-path__title {
  text-align: center;
  color: #363838;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 51px;
}
.works-path__items-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 2px solid rgba(54, 56, 56, 0.7);
  position: relative;
}
.works-path__items-box::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #363838;
}
.works-path__item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.works-path__item--consultation, .works-path__item--production {
  padding-bottom: 38px;
}
.works-path__item--production {
  margin-left: 317px;
}
.works-path__item--production::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background: rgba(54, 56, 56, 0.7);
}
.works-path__item--measur {
  padding-top: 38px;
  margin-left: 305px;
}
.works-path__item--measur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background: rgba(54, 56, 56, 0.7);
}
.works-path__item-title {
  margin-left: 13px;
  color: #363838;
}
.works-path__item-text {
  margin-top: 13px;
}

.gallery {
  padding: 80px 0 90px;
}
.gallery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery__btn {
  display: inline-block;
  cursor: pointer;
  padding: 6px 16px;
  border: 1px solid #363838;
  border-radius: 20px;
  margin-bottom: 40px;
  color: #8F8D8D;
  font-size: 14px;
}
.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 35px 1fr 35px 1fr 35px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 35px;
}
.gallery__items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.gallery__items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.gallery__items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.gallery__items > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.gallery__items > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.gallery__items > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.gallery__items > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.gallery__items > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.gallery__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 1150px;
  height: 100%;
}
.gallery__item:first-child {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.gallery.gallery-page .gallery__item:nth-child(8) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.gallery.gallery-page .gallery__item:nth-child(8) .gallery__item img {
  max-height: 1172px;
}

.mixitup-control-active {
  background-color: #FFEF35;
  color: #363838;
  border: 1px solid #FFEF35;
}

.blog-box {
  padding-bottom: 100px;
}
.blog-box__title {
  color: #363838;
  font-size: 36px;
  line-height: 1.41; /* 51/36 */
  margin: 0 auto 30px;
  text-align: center;
  max-width: 430px;
}
.blog-box__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.blog-box__img-link {
  margin-bottom: 19px;
  display: inline-block;
}
.blog-box__links {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
}
.blog-box__date, .blog-box__autor, .blog-box__theme {
  color: inherit;
}
.blog-box__item-titlelink {
  color: #363838;
  font-size: 24px;
  line-height: 1.58; /* 38/24 */
}
.breadcrumbs {
  background: rgba(223, 223, 223, 0.5);
  padding: 13px 14px;
  position: relative;
  z-index: 3;
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumbs__item::after {
  content: "/";
  margin-left: -4px;
  margin-right: 4px;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__link {
  font-size: 14px;
}

.menu__list-link--active {
  padding-bottom: 4px;
  position: relative;
}
.menu__list-link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 1px;
  background-color: rgba(54, 56, 56, 0.7);
}

.about__prev {
  background-image: url(../img/about-page-background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 160px 0;
  margin-top: -53px;
}
.about__prev-title {
  color: #363838;
  font-size: 60px;
  line-height: 1.33;
}
.about__content {
  padding: 130px 0 40px;
}
.about__title {
  color: #363838;
  font-size: 36px;
  line-height: 1.66; /* 60/36 */
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}
.about__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 200px;
  background-color: #6D7278;
}
.about__text {
  padding-left: 284px;
}
.about__text p {
  margin-bottom: 30px;
}
.about__popup {
  background-image: url(../img/video_post.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inspiration {
  padding-top: 100px;
  position: relative;
  z-index: 1;
}
.inspiration::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/inspiration_background.jpg);
  height: 362px;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inspiration__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.inspiration__img {
  margin-right: 78px;
  margin-left: -235px;
}
.inspiration__content {
  max-width: 825px;
}
.inspiration__title {
  font-size: 36px;
  line-height: 1.66; /* 60/36 */
  color: #363838;
  padding-bottom: 16px;
  margin-bottom: 24px;
  position: relative;
}
.inspiration__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #6D7278;
  height: 1px;
  width: 200px;
}
.inspiration__text {
  margin-bottom: 30px;
}
.inspiration__item {
  color: #363838;
  line-height: 23px;
  margin-bottom: 33px;
}
.inspiration__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 2px solid #fff;
  border-radius: 4pX;
}
.inspiration__line {
  height: 2px;
  background-color: #363838;
  border-radius: 4px;
  margin-top: -2px;
}

.partners {
  padding: 16px 0 60px;
}
.partners__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}
.partners__item {
  margin: 0 auto;
}

.map {
  margin-top: -53px;
  margin-bottom: 50px;
}

.info-email {
  font-weight: 600;
  font-size: 14px;
  color: #363838;
  margin-bottom: 22px;
  padding-left: 30px;
  display: inline-block;
  position: relative;
}
.info-email::before {
  content: "";
  background-image: url(../img/icons/envelope.svg);
  left: 0;
  width: 16px;
  position: absolute;
  height: 12px;
  top: 8px;
}

.contact {
  padding-bottom: 100px;
}
.contact__adress {
  padding-left: 284px;
}
.contact__title {
  color: #363838;
  font-size: 36px;
  line-height: 1.66; /* 60/36 */
  padding-bottom: 30px;
  margin-bottom: 40px;
  position: relative;
}
.contact__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #6D7278;
}
.contact__social {
  padding-left: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  margin-bottom: 20px;
}
.contact__social-text {
  padding-left: 284px;
  margin-bottom: 10px;
}
.contact__city {
  margin-bottom: 16px;
}
.contact__form {
  padding-left: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__form-input {
  border: 1px solid #DFDFDF;
  border-radius: 20px;
  padding: 6px 18px;
  margin-bottom: 13px;
  width: 48%;
}
.contact__form-area {
  width: 100%;
  border: 1px solid #DFDFDF;
  border-radius: 24px;
  padding: 14px 17px;
  min-height: 125px;
  resize: none;
  margin-bottom: 20px;
}
.contact__form-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #FFFFF0;
  background-color: #363838;
  border: 1px solid #363838;
  padding: 6px 60px;
  border-radius: 21px;
  cursor: pointer;
}

.contact__slider {
  padding-bottom: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__slider__link {
  position: relative;
  margin-bottom: 20px;
}
.contact__slider__img {
  height: 170px;
  width: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact__slider__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: #363838;
  line-height: 22px;
  padding: 0 5px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.contact__slider__title:hover {
  opacity: 1;
}

.blog {
  padding: 60px 0 100px;
}
.blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__category {
  margin-bottom: 36px;
}
.blog__category-title {
  margin-bottom: 16px;
  color: #363838;
  line-height: 23px;
}
.blog__category-item {
  margin-bottom: 12px;
}
.blog__tags {
  margin-bottom: 50px;
}
.blog__tags-link {
  color: #8F8D8D;
  font-weight: 600;
  font-size: 14px;
  padding: 0 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid rgba(69, 70, 71, 0.5);
  border-radius: 14px;
}
.blog__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__social-item {
  margin-right: 20px;
}
.aside {
  width: 350px;
  margin-left: 30px;
}
.aside__search {
  margin-bottom: 40px;
  position: relative;
}
.aside__search-item {
  padding: 6px 45px 6px 18px;
  border: 1px solid rgba(56, 54, 54, 0.7);
  border-radius: 20px;
  display: block;
  width: 100%;
}
.aside__search-item::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #A1A1A1;
}
.aside__search-item::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #A1A1A1;
}
.aside__search-item:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #A1A1A1;
}
.aside__search-item::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #A1A1A1;
}
.aside__search-item::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #A1A1A1;
}
.aside__search-btn {
  position: absolute;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.recent-posts {
  margin-bottom: 40px;
}
.recent-posts__title {
  margin-bottom: 24px;
  color: #363838;
  line-height: 23px;
}
.recent-posts__item {
  margin-bottom: 11px;
}
.recent-posts__item-title {
  display: block;
}
.recent-posts__date {
  color: #A1A1A1;
  font-size: 14px;
}
.recent-posts__autor {
  color: #A1A1A1;
  font-size: 14px;
}

.blog__item {
  max-width: 730px;
}
.blog__item-info {
  padding: 25p 0 10px;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
}
.blog__item-title {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 6px;
  color: #363838;
}
.blog__blockquote {
  max-width: 730px;
  font-size: 24px;
  line-height: 1.58; /* 38/24 */
  margin-bottom: 50px;
  padding: 54px 64px;
  font-weight: 300;
  line-height: 1.58; /* 38/24 */
  font-style: italic;
  text-align: center;
  background: rgba(223, 223, 223, 0.5);
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blog__blockquote-author {
  font-size: 16px;
  line-height: 1.37; /* 22/16 */
  color: #363838;
  margin-top: 23px;
  padding-top: 23px;
  position: relative;
  font-style: normal;
}
.blog__blockquote-author::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background: #6D7278;
  width: 200px;
  border-radius: 1px;
  margin: 0 auto;
}
.blog__item-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.article-popup__box {
  position: relative;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination__arrow {
  margin: 0 6px;
}
.pagination__arrow--disabled {
  opacity: 0;
  pointer-events: none;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pagination__list-item {
  margin: 0 6px;
}
.pagination__list-num {
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}
.pagination__list-num--active {
  color: #363838;
}

.blog-one__item p {
  margin-bottom: 40px;
}
.blog-one__item blockquote {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  color: #363838;
  margin-bottom: 30px;
  padding: 0 40px;
}

.blog__blockquote-author::before {
  margin-right: auto;
  margin-left: 0;
}

.blog-one__tags {
  margin-bottom: 30px;
}
.blog-one__tags-link {
  margin-bottom: 10px;
  margin-right: 23px;
  padding: 0 16px;
  color: #8F8D8D;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgba(69, 70, 71, 0.5);
  border-radius: 14px;
  display: inline-block;
}
.blog-one__tags-title {
  color: #363838;
  font-size: 20px;
  line-height: 1.55; /* 31/20 */
  margin-bottom: 15px;
}

.blog-one__links {
  padding: 40px 0 30px;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.blog-one__link {
  width: 243px;
  position: relative;
  color: #707070;
  font-size: 14px;
  font-weight: 600;
}
.blog-one__link::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 23px;
}
.blog-one__link-prev {
  padding-left: 44px;
}
.blog-one__link-prev::before {
  background-image: url(../img/icons/arrow-left-big.svg);
  left: 0;
}
.blog-one__link-next {
  padding-right: 44px;
  text-align: right;
}
.blog-one__link-next::before {
  background-image: url(../img/icons/arrow-right-big.svg);
  right: 0;
}

.blog-one__comments-title {
  color: #363838;
  font-size: 20px;
  line-height: 1.55; /* 31/20 */
  margin-bottom: 15px;
}
.blog-one__comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}
.blog-one__comments-avatar {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 13px;
}
.blog-one__comments-name {
  color: #363838;
  line-height: 23px;
}
.blog-one__comments-date {
  margin-bottom: 10px;
  font-size: 14px;
  color: #A1A1A1;
}
.blog-one__reply {
  margin-left: 5px;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
}

.blog-one__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-one__form-title {
  margin-bottom: 25px;
  color: #363838;
  line-height: 23;
}
.blog-one__form-textarea {
  resize: none;
  width: 100%;
  border: 1px solid #DFDFDF;
  border-radius: 24px;
  padding: 14px 17px;
  min-height: 125px;
  margin-bottom: 12px;
}
.blog-one__form-textarea::-webkit-input-placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68%; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-textarea::-moz-placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68%; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-textarea:-ms-input-placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68%; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-textarea::-ms-input-placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68%; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-textarea::placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68%; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-input {
  border: 1px solid #DFDFDF;
  border-radius: 20px;
  padding: 6px 17px;
  margin-bottom: 20px;
  width: 48%;
}
.blog-one__form-input::-webkit-input-placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-input::-moz-placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-input:-ms-input-placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-input::-ms-input-placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-input::placeholder {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68; /* 27/16 */
  font-family: "Open Sans", sans-serif;
}
.blog-one__form-label {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  color: #A1A1A1;
}
.blog-one__form-btn {
  font-weight: 600;
  color: #FFFFF0;
  background-color: #363838;
  padding: 6px 60px;
  border-radius: 21px;
  cursor: pointer;
}